
body {
    background: f6f6fa;
    padding: 40px 40px 40px 40px;
    font-family: "Montserrat", serif;
}

.wrapper {
    background: #ffffff;
    display: flex;
    flex-direction: row-reverse;

}

.main-content {
    /* padding: 80px 40px 80px 88px; */
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

.sidebar {
    width: 250px;
    height: 203vh;
   
    top: 0;
    left: 0;
    padding: 15px;
background-color: #E0EBFE;

}
.contact-title {
    color: #161d2a;
    font-family: Montserrat ;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normnal;
    
}
.contacts-span {
    color: #161d2a;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: normnal;
        margin-right: 8px;
}
.contacts-link {
    color:#2979ff
        font-weight:400;
        line-height: 24px;
text-decoration-line: underline;
}

.soft-skills {
  font: Montserrat; 
font-weight: 400;
size: 14px;
line-height: 24px;
}
.tech-skills {
    font: Montserrat;
        font-weight: 400;
        size: 14px;
        line-height: 24px;
}